<div class="wrap">
  	<div class="header"><span>Todo List</span>
    </div>
		<div class="wrap-list">
      <ol class="list">
				<li class="addNewTask">
					<label class="addNewTaskItem">Add New Task</label>
          <input class="addNewTaskItem addNewTaskItemInput" placeholder="New Task ?" ng-model="todo">
          <dbutton class="dbuttonstyle" ng-click="postTask(todo)"> Add
          </dbutton>
				</li>
			</ol>
			<ol class="list">
				<li ng-repeat="task in todoItems">
          <input type="submit" id="check-1" value="x" class="deletedb">
					<input type="checkbox" id="check-1" checked="checked">
					<label>{{task.task}}</label>
				</li>

			</ol>
		</div>
	</div>
